<%= form_tag(answer_path, remote: true) do %>
<p>
  <b>number: <%= label_tag :question, @question %></b>
</p>
<%= hidden_field_tag :question, @question %>
<%= hidden_field_tag :id, @comment.id %> 
<%= text_field_tag :answer, @answer %> 
<%= submit_tag 'Answer'%>
<% end %>
<table>
  <tbody><tr><td><span>seat: <%= @window %></span></td></tr>
  </tbody>
</table>
