<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<div class="row">    
      <table class="table-bordered table-hover table-striped">
       <tbody id="msg">     
        <% @comments.each do |comment| %>
        	<% unless comment.new_record? %>
          <tr class="info">
            <td class="span6 offset3"><span style="padding-top:2px;"><%=comment.id%></span></td>
            <td class="span6 offset3"><span><%= link_to "#{comment.content}", comment%></span></td>
            <td class="span6 offset3"><%= link_to "Edit Comment", edit_comment_path(comment.id)%></td> 
            <td class="span6 offset3"><%= link_to "Delete Comment", comment, method: :delete, data: {confirm: "You sure?"}%></td>
          </tr>
          <% end %>
        <% end %>
       </tbody>
      </table>
     </div>
<%= render :partial =>'commentform' %>



