<div style="padding-top: 80px"></div>
<% provide(:title, "抽调卡记单词") %>
<div id="dialog" title="" style="display:none">
  <p></p>
</div>
<%= form_tag(flash_answer_path, remote: true) do %>
<%= submit_tag "抽调卡抽取", disabled: false, class: 'flash_tooltip', style: 'height: 150px; width:30px; word-wrap: break-word;' %>
<%= submit_tag "抽调卡抽取", disabled: false, class: 'flash_tooltip', style: 'height: 150px; width:30px; word-wrap: break-word;' %>
<%= submit_tag "抽调卡抽取", disabled: false, class: 'flash_tooltip', style: 'height: 150px; width:30px; word-wrap: break-word;' %>
<%= submit_tag "抽调卡抽取", disabled: false, class: 'flash_tooltip', style: 'height: 150px; width:30px; word-wrap: break-word;' %>
<%= submit_tag "抽调卡抽取", disabled: false, class: 'flash_tooltip', style: 'height: 150px; width:30px; word-wrap: break-word;' %>
<% end %> 
<div style="padding-bottom: 200px;"></div>
<script type="text/javascript">
</script>
